<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PowershellScriptName" value="SyncGitHubtoADO.ps1"/>
    <add key="GitHubSourcePAT" value=""/>
    <add key="ADODestinationPAT" value=""/>
    <add key="RepoConfigFileName" value="RepoList.json"/>
  </appSettings>
</configuration>